In [274]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm
import matplotlib.pyplot as plt
import matplotlib as mlt
%matplotlib inline
import datetime as dt

In [275]:
customers = pd.read_csv('customers.csv')
items = pd.read_csv('items.csv')
print items.head()
print customers.head()

   customerid order_date        item  quantity  price
0       10330  30-Jun-99  Pogo stick         1     28
1       10101  30-Jun-99        Raft         1     58
2       10298  01-Jul-99  Skateboard         1     33
3       10101  01-Jul-99   Life Vest         4    125
4       10299  06-Jul-99   Parachute         1   1250
   customerid firstname lastname        city       state
0       10101      John     Gray      Lynden  Washington
1       10298     Leroy    Brown     Pinetop     Arizona
2       10299     Elroy   Keller  Snoqualmie  Washington
3       10315      Lisa    Jones     Oshkosh   Wisconsin
4       10325    Ginger  Schultz   Pocatello       Idaho

In [276]:
print items[items['customerid'] == 10449][['customerid','item','price']]

    customerid          item   price
6        10449      Unicycle  180.79
9        10449    Snow Shoes   45.00
16       10449       Bicycle  380.50
17       10449         Canoe  280.00
26       10449    Flashlight    4.50
29       10449  Canoe paddle   40.00

In [277]:
print items[items['item'] == 'Tent']

    customerid order_date  item  quantity  price
10       10439  18-Sep-99  Tent         1  88.00
22       10438  18-Jan-00  Tent         1  79.99

In [278]:
print items[items['item'].str.contains(r'S')]

    customerid order_date          item  quantity  price
2        10298  01-Jul-99    Skateboard         1  33.00
7        10439  14-Aug-99     Ski Poles         2  25.50
9        10449  01-Sep-99    Snow Shoes         1  45.00
12       10410  28-Oct-99  Sleeping Bag         1  89.22
27       10101  08-Mar-00  Sleeping Bag         2  88.70
31       10330  19-Apr-00        Shovel         1  16.75

In [279]:
print pd.unique(items['item'])

['Pogo stick' 'Raft' 'Skateboard' 'Life Vest' 'Parachute' 'Umbrella'
 'Unicycle' 'Ski Poles' 'Rain Coat' 'Snow Shoes' 'Tent' 'Lantern'
 'Sleeping Bag' 'Pillow' 'Helmet' 'Bicycle' 'Canoe' 'Hoola Hoop'
 'Flashlight' 'Inflatable Mattress' 'Lawnchair' 'Compass' 'Pocket Knife'
 'Canoe paddle' 'Ear Muffs' 'Shovel']

In [280]:
print items[items['price'] == max(items['price'])]['price']

4    1250
Name: price, dtype: float64

In [281]:
print np.mean(items[items['order_date'].str.contains('Dec')]['price'])

174.3125

In [282]:
print items.shape[0]

32

In [283]:
print min(items[items['item'] == 'Tent']['price'])

79.99

In [284]:
print customers.groupby('state').size()

state
Arizona           6
Colorado          2
Hawaii            1
Idaho             1
North Carolina    1
Oregon            2
South Carolina    1
Washington        2
Wisconsin         1
dtype: int64

In [285]:
print items.groupby('item').agg({'price': [min, max]})

                       price
                         min      max
item
Bicycle               380.50   380.50
Canoe                 280.00   280.00
Canoe paddle           40.00    40.00
Compass                 8.00     8.00
Ear Muffs              12.50    12.50
Flashlight              4.50    28.00
Helmet                 22.00    22.00
Hoola Hoop             14.75    14.75
Inflatable Mattress    38.00    38.00
Lantern                16.00    29.00
Lawnchair              32.00    32.00
Life Vest             125.00   125.00
Parachute            1250.00  1250.00
Pillow                  8.50     8.50
Pocket Knife           22.38    22.38
Pogo stick             28.00    28.00
Raft                   58.00    58.00
Rain Coat              18.30    18.30
Shovel                 16.75    16.75
Skateboard             33.00    33.00
Ski Poles              25.50    25.50
Sleeping Bag           88.70    89.22
Snow Shoes             45.00    45.00
Tent                   79.99    88.00
Umbrella                4.50     6.75
Unicycle              180.79   192.50

In [286]:
print items.groupby('customerid').agg({'quantity': [sum], 'price': [sum]})

              price quantity
                sum      sum
customerid
10101        320.75       12
10298        118.88        6
10299       1288.00        2
10315          8.00        1
10330         72.75        6
10339          4.50        1
10410        281.72        2
10413         32.00        4
10438         95.24        3
10439        113.50        3
10449        930.79        7

In [287]:
print customers.groupby('state').size()[customers.groupby('state').size()>1]

state
Arizona       6
Colorado      2
Oregon        2
Washington    2
dtype: int64

In [288]:
ind = items.groupby('item').agg({'price':[min,max]})['price']['max'] > 190
d = items.groupby('item').agg({'price':[min,max]})
print d[ind]

             price
               min     max
item
Bicycle     380.50   380.5
Canoe       280.00   280.0
Parachute  1250.00  1250.0
Unicycle    180.79   192.5

In [289]:
ind2 = items.groupby('customerid').agg({'quantity': np.size, 'price' : [sum]})['quantity']['size'] > 1
d = items.groupby('customerid').agg({'quantity': np.size, 'price' : [sum]})
print d[ind2]

              price quantity
                sum     size
customerid
10101        320.75        6
10298        118.88        5
10299       1288.00        2
10330         72.75        3
10410        281.72        2
10438         95.24        3
10439        113.50        2
10449        930.79        6

In [290]:
print customers[['lastname','firstname', 'city']].sort_values('lastname', ascending = False)

    lastname firstname          city
14     Smith     Kevin       Durango
4    Schultz    Ginger     Pocatello
8    Sanchez   Anthony       Winslow
12  Sakahara     Linda       Nogales
16     Moore   Isabela          Yuma
5    Mendoza     Kelly        Kailua
2     Keller     Elroy    Snoqualmie
3      Jones      Lisa       Oshkosh
7     Howell   Michael     Tillamook
10    Howell  Mary Ann    Charleston
0       Gray      John        Lynden
13    Graham     Sarah    Greensboro
15     Giles    Conrad     Telluride
11    Davids    Donald     Gila Bend
6     Dalton     Shawn  Cannon Beach
9    Cleaver     Elroy         Globe
1      Brown     Leroy       Pinetop

In [291]:
print items[items['price'] > 10.00][['item','price']].sort_values('price', ascending = True)

                   item    price
30            Ear Muffs    12.50
18           Hoola Hoop    14.75
20              Lantern    16.00
31               Shovel    16.75
8             Rain Coat    18.30
15               Helmet    22.00
28         Pocket Knife    22.38
7             Ski Poles    25.50
19           Flashlight    28.00
0            Pogo stick    28.00
11              Lantern    29.00
23            Lawnchair    32.00
2            Skateboard    33.00
21  Inflatable Mattress    38.00
29         Canoe paddle    40.00
9            Snow Shoes    45.00
1                  Raft    58.00
22                 Tent    79.99
10                 Tent    88.00
27         Sleeping Bag    88.70
12         Sleeping Bag    89.22
3             Life Vest   125.00
6              Unicycle   180.79
24             Unicycle   192.50
17                Canoe   280.00
16              Bicycle   380.50
4             Parachute  1250.00

In [292]:
print items[(items['item'] != 'Snow Shoes') | (items['item'] != 'Ear Muffs')][['customerid','item','order_date']]

    customerid                 item order_date
0        10330           Pogo stick  30-Jun-99
1        10101                 Raft  30-Jun-99
2        10298           Skateboard  01-Jul-99
3        10101            Life Vest  01-Jul-99
4        10299            Parachute  06-Jul-99
5        10339             Umbrella  27-Jul-99
6        10449             Unicycle  13-Aug-99
7        10439            Ski Poles  14-Aug-99
8        10101            Rain Coat  18-Aug-99
9        10449           Snow Shoes  01-Sep-99
10       10439                 Tent  18-Sep-99
11       10298              Lantern  19-Sep-99
12       10410         Sleeping Bag  28-Oct-99
13       10438             Umbrella  01-Nov-99
14       10438               Pillow  02-Nov-99
15       10298               Helmet  01-Dec-99
16       10449              Bicycle  15-Dec-99
17       10449                Canoe  22-Dec-99
18       10101           Hoola Hoop  30-Dec-99
19       10330           Flashlight  01-Jan-00
20       10101              Lantern  02-Jan-00
21       10299  Inflatable Mattress  18-Jan-00
22       10438                 Tent  18-Jan-00
23       10413            Lawnchair  19-Jan-00
24       10410             Unicycle  30-Jan-00
25       10315              Compass  02-Feb-00
26       10449           Flashlight  29-Feb-00
27       10101         Sleeping Bag  08-Mar-00
28       10298         Pocket Knife  18-Mar-00
29       10449         Canoe paddle  19-Mar-00
30       10298            Ear Muffs  01-Apr-00
31       10330               Shovel  19-Apr-00

In [293]:
print items[items.item.str.match(r'[P,F,S]')][['item', 'price']]

            item    price
0     Pogo stick    28.00
2     Skateboard    33.00
4      Parachute  1250.00
7      Ski Poles    25.50
9     Snow Shoes    45.00
12  Sleeping Bag    89.22
14        Pillow     8.50
19    Flashlight    28.00
26    Flashlight     4.50
27  Sleeping Bag    88.70
28  Pocket Knife    22.38
31        Shovel    16.75

In [294]:
print items[(items['price'] > 10.00 ) & (items['price'] < 80.00)][['order_date','item','price']]

   order_date                 item  price
0   30-Jun-99           Pogo stick  28.00
1   30-Jun-99                 Raft  58.00
2   01-Jul-99           Skateboard  33.00
7   14-Aug-99            Ski Poles  25.50
8   18-Aug-99            Rain Coat  18.30
9   01-Sep-99           Snow Shoes  45.00
11  19-Sep-99              Lantern  29.00
15  01-Dec-99               Helmet  22.00
18  30-Dec-99           Hoola Hoop  14.75
19  01-Jan-00           Flashlight  28.00
20  02-Jan-00              Lantern  16.00
21  18-Jan-00  Inflatable Mattress  38.00
22  18-Jan-00                 Tent  79.99
23  19-Jan-00            Lawnchair  32.00
28  18-Mar-00         Pocket Knife  22.38
29  19-Mar-00         Canoe paddle  40.00
30  01-Apr-00            Ear Muffs  12.50
31  19-Apr-00               Shovel  16.75

In [295]:
print customers[customers['state'].str.contains(r'[A,W,O,C,H]')][['firstname','city','state']]

   firstname          city           state
0       John        Lynden      Washington
1      Leroy       Pinetop         Arizona
2      Elroy    Snoqualmie      Washington
3       Lisa       Oshkosh       Wisconsin
5      Kelly        Kailua          Hawaii
6      Shawn  Cannon Beach          Oregon
7    Michael     Tillamook          Oregon
8    Anthony       Winslow         Arizona
9      Elroy         Globe         Arizona
10  Mary Ann    Charleston  South Carolina
11    Donald     Gila Bend         Arizona
12     Linda       Nogales         Arizona
13     Sarah    Greensboro  North Carolina
14     Kevin       Durango        Colorado
15    Conrad     Telluride        Colorado
16   Isabela          Yuma         Arizona

In [296]:
items['price_per'] = items['price']/items['quantity']
print items[['item', 'price_per']].sort_values('item')

                   item    price_per
16              Bicycle   380.500000
17                Canoe   280.000000
29         Canoe paddle    20.000000
25              Compass     8.000000
30            Ear Muffs    12.500000
19           Flashlight     7.000000
26           Flashlight     4.500000
15               Helmet    22.000000
18           Hoola Hoop     4.916667
21  Inflatable Mattress    38.000000
20              Lantern    16.000000
11              Lantern    14.500000
23            Lawnchair     8.000000
3             Life Vest    31.250000
4             Parachute  1250.000000
14               Pillow     8.500000
28         Pocket Knife    22.380000
0            Pogo stick    28.000000
1                  Raft    58.000000
8             Rain Coat    18.300000
31               Shovel    16.750000
2            Skateboard    33.000000
7             Ski Poles    12.750000
12         Sleeping Bag    89.220000
27         Sleeping Bag    44.350000
9            Snow Shoes    45.000000
10                 Tent    88.000000
22                 Tent    79.990000
5              Umbrella     4.500000
13             Umbrella     6.750000
24             Unicycle   192.500000
6              Unicycle   180.790000

In [297]:
print pd.merge(customers, items, on = 'customerid', how = 'inner')[['customerid', 'state','firstname','lastname','item', 'order_date', 'price']].sort_values(['state'], ascending = False)

    customerid           state firstname lastname                 item  \
13       10315       Wisconsin      Lisa    Jones              Compass
0        10101      Washington      John     Gray                 Raft
2        10101      Washington      John     Gray            Rain Coat
3        10101      Washington      John     Gray           Hoola Hoop
4        10101      Washington      John     Gray              Lantern
5        10101      Washington      John     Gray         Sleeping Bag
1        10101      Washington      John     Gray            Life Vest
11       10299      Washington     Elroy   Keller            Parachute
12       10299      Washington     Elroy   Keller  Inflatable Mattress
19       10410  South Carolina  Mary Ann   Howell             Unicycle
18       10410  South Carolina  Mary Ann   Howell         Sleeping Bag
15       10330          Oregon     Shawn   Dalton           Flashlight
14       10330          Oregon     Shawn   Dalton           Pogo stick
16       10330          Oregon     Shawn   Dalton               Shovel
23       10438        Colorado     Kevin    Smith                 Tent
24       10439        Colorado    Conrad    Giles            Ski Poles
21       10438        Colorado     Kevin    Smith             Umbrella
22       10438        Colorado     Kevin    Smith               Pillow
25       10439        Colorado    Conrad    Giles                 Tent
30       10449         Arizona   Isabela    Moore           Flashlight
29       10449         Arizona   Isabela    Moore                Canoe
28       10449         Arizona   Isabela    Moore              Bicycle
27       10449         Arizona   Isabela    Moore           Snow Shoes
26       10449         Arizona   Isabela    Moore             Unicycle
10       10298         Arizona     Leroy    Brown            Ear Muffs
9        10298         Arizona     Leroy    Brown         Pocket Knife
20       10413         Arizona    Donald   Davids            Lawnchair
6        10298         Arizona     Leroy    Brown           Skateboard
7        10298         Arizona     Leroy    Brown              Lantern
17       10339         Arizona   Anthony  Sanchez             Umbrella
8        10298         Arizona     Leroy    Brown               Helmet
31       10449         Arizona   Isabela    Moore         Canoe paddle

   order_date    price
13  02-Feb-00     8.00
0   30-Jun-99    58.00
2   18-Aug-99    18.30
3   30-Dec-99    14.75
4   02-Jan-00    16.00
5   08-Mar-00    88.70
1   01-Jul-99   125.00
11  06-Jul-99  1250.00
12  18-Jan-00    38.00
19  30-Jan-00   192.50
18  28-Oct-99    89.22
15  01-Jan-00    28.00
14  30-Jun-99    28.00
16  19-Apr-00    16.75
23  18-Jan-00    79.99
24  14-Aug-99    25.50
21  01-Nov-99     6.75
22  02-Nov-99     8.50
25  18-Sep-99    88.00
30  29-Feb-00     4.50
29  22-Dec-99   280.00
28  15-Dec-99   380.50
27  01-Sep-99    45.00
26  13-Aug-99   180.79
10  01-Apr-00    12.50
9   18-Mar-00    22.38
20  19-Jan-00    32.00
6   01-Jul-99    33.00
7   19-Sep-99    29.00
17  27-Jul-99     4.50
8   01-Dec-99    22.00
31  19-Mar-00    40.00

In [298]:
items.order_date

0     30-Jun-99
1     30-Jun-99
2     01-Jul-99
3     01-Jul-99
4     06-Jul-99
5     27-Jul-99
6     13-Aug-99
7     14-Aug-99
8     18-Aug-99
9     01-Sep-99
10    18-Sep-99
11    19-Sep-99
12    28-Oct-99
13    01-Nov-99
14    02-Nov-99
15    01-Dec-99
16    15-Dec-99
17    22-Dec-99
18    30-Dec-99
19    01-Jan-00
20    02-Jan-00
21    18-Jan-00
22    18-Jan-00
23    19-Jan-00
24    30-Jan-00
25    02-Feb-00
26    29-Feb-00
27    08-Mar-00
28    18-Mar-00
29    19-Mar-00
30    01-Apr-00
31    19-Apr-00
Name: order_date, dtype: object

In [365]:
items['order_date'] = pd.to_datetime(items.order_date)
items[items['order_date'] > pd.to_datetime('2000-01-01')]

    customerid order_date                 item  quantity   price  price_per
20       10101 2000-01-02              Lantern         1   16.00      16.00
21       10299 2000-01-18  Inflatable Mattress         1   38.00      38.00
22       10438 2000-01-18                 Tent         1   79.99      79.99
23       10413 2000-01-19            Lawnchair         4   32.00       8.00
24       10410 2000-01-30             Unicycle         1  192.50     192.50
25       10315 2000-02-02              Compass         1    8.00       8.00
26       10449 2000-02-29           Flashlight         1    4.50       4.50
27       10101 2000-03-08         Sleeping Bag         2   88.70      44.35
28       10298 2000-03-18         Pocket Knife         1   22.38      22.38
29       10449 2000-03-19         Canoe paddle         2   40.00      20.00
30       10298 2000-04-01            Ear Muffs         1   12.50      12.50
31       10330 2000-04-19               Shovel         1   16.75      16.75

In [300]:
items[dt.date.today() - items.order_date == min(dt.date.today() - items.order_date)]

    customerid order_date    item  quantity  price  price_per
31       10330 2000-04-19  Shovel         1  16.75      16.75

In [404]:
q = items[(items['order_date'].map(lambda x: x.day) > 10) & (items['order_date'].map(lambda x: x.day) < 17)]
q.groupby(['customerid'], as_index = False)['item'].count()

   customerid  item
0       10439     1
1       10449     2

In [411]:
grouped_items = items.groupby(['customerid', 'order_date'], as_index = False).mean()
grouped_items.drop(['price_per'], axis = 1)

    customerid order_date  quantity    price
0        10101 1999-06-30         1    58.00
1        10101 1999-07-01         4   125.00
2        10101 1999-08-18         1    18.30
3        10101 1999-12-30         3    14.75
4        10101 2000-01-02         1    16.00
5        10101 2000-03-08         2    88.70
6        10298 1999-07-01         1    33.00
7        10298 1999-09-19         2    29.00
8        10298 1999-12-01         1    22.00
9        10298 2000-03-18         1    22.38
10       10298 2000-04-01         1    12.50
11       10299 1999-07-06         1  1250.00
12       10299 2000-01-18         1    38.00
13       10315 2000-02-02         1     8.00
14       10330 1999-06-30         1    28.00
15       10330 2000-01-01         4    28.00
16       10330 2000-04-19         1    16.75
17       10339 1999-07-27         1     4.50
18       10410 1999-10-28         1    89.22
19       10410 2000-01-30         1   192.50
20       10413 2000-01-19         4    32.00
21       10438 1999-11-01         1     6.75
22       10438 1999-11-02         1     8.50
23       10438 2000-01-18         1    79.99
24       10439 1999-08-14         2    25.50
25       10439 1999-09-18         1    88.00
26       10449 1999-08-13         1   180.79
27       10449 1999-09-01         1    45.00
28       10449 1999-12-15         1   380.50
29       10449 1999-12-22         1   280.00
30       10449 2000-02-29         1     4.50
31       10449 2000-03-19         2    40.00

In [302]:
items.groupby('customerid', as_index = False).max()[['customerid','order_date']]

    customerid order_date
0        10101 2000-03-08
1        10298 2000-04-01
2        10299 2000-01-18
3        10315 2000-02-02
4        10330 2000-04-19
5        10339 1999-07-27
6        10410 2000-01-30
7        10413 2000-01-19
8        10438 2000-01-18
9        10439 1999-09-18
10       10449 2000-03-19

In [303]:
items[items['order_date'].isin(['2000-03-08', '2000-01-18'])]

    customerid order_date                 item  quantity  price  price_per
21       10299 2000-01-18  Inflatable Mattress         1  38.00      38.00
22       10438 2000-01-18                 Tent         1  79.99      79.99
27       10101 2000-03-08         Sleeping Bag         2  88.70      44.35

In [304]:
d = [['Pallavi', 32], ['Arjun', 12], ['Bhsi', 10], ['examo', 79]]

In [305]:
items[1:2][:]

   customerid order_date  item  quantity  price  price_per
1       10101 1999-06-30  Raft         1     58         58

In [306]:
np.array(d).sort(axis = 1)
d

[['Pallavi', 32], ['Arjun', 12], ['Bhsi', 10], ['examo', 79]]

In [307]:
items.sort_values('price', ascending = False)[1:2][['price', 'item']]

    price     item
16  380.5  Bicycle

In [308]:
url = r'https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv'
b = pd.read_table(url, sep = '\t')

In [309]:
b.head(6)

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
0,1,BLT,Old Oak Tap,The B is applewood smoked&mdash;nice and snapp...,$10,2109 W. Chicago Ave.,Chicago,773-772-0406,theoldoaktap.com,"2109 W. Chicago Ave., Chicago","2109 West Chicago Avenue, Chicago, IL 60622, USA",41.895734,-87.679960
1,2,Fried Bologna,Au Cheval,Thought your bologna-eating days had retired w...,$9,800 W. Randolph St.,Chicago,312-929-4580,aucheval.tumblr.com,"800 W. Randolph St., Chicago","800 West Randolph Street, Chicago, IL 60607, USA",41.884672,-87.647754
2,3,Woodland Mushroom,Xoco,Leave it to Rick Bayless and crew to come up w...,$9.50.,445 N. Clark St.,Chicago,312-334-3688,rickbayless.com,"445 N. Clark St., Chicago","445 North Clark Street, Chicago, IL 60654, USA",41.890602,-87.630925
3,4,Roast Beef,Al&rsquo;s Deli,"The Francophile brothers behind this deli, whi...",$9.40.,914 Noyes St.,Evanston,NaN,alsdeli.net,"914 Noyes St., Evanston","914 Noyes Street, Evanston, IL 60201, USA",42.058442,-87.684425
4,5,PB&amp;L,Publican Qualty Meats,"When this place opened in February, it quickly...",$10,825 W. Fulton Mkt.,Chicago,312-445-8977,publicanqualitymeats.com,"825 W. Fulton Mkt., Chicago","825 West Fulton Market, Chicago, IL 60607, USA",41.886637,-87.648553
5,6,Belgian Chicken Curry Salad,Hendrickx Belgian Bread Crafter,The mom-and-pop aesthetic is a yeast-scented b...,$7.25.,100 E. Walton St.,Chicago,312-649-6717,NaN,"100 E. Walton St., Chicago","100 East Walton Street, Chicago, IL 60611, USA",41.900246,-87.625163

In [310]:
q = b['website'].str.split('/', expand = True)
p =q.loc[:,0].str[-3:]
print p[p.notnull()].unique()

['com' 'net' 'org']

In [311]:
b.xs(2)

rank                                                                 3
sandwich                                             Woodland Mushroom
restaurant                                                        Xoco
description          Leave it to Rick Bayless and crew to come up w...
price                                                           $9.50.
address                                               445 N. Clark St.
city                                                           Chicago
phone                                                     312-334-3688
website                                                rickbayless.com
full_address                                 445 N. Clark St., Chicago
formatted_address       445 North Clark Street, Chicago, IL 60654, USA
lat                                                            41.8906
lng                                                           -87.6309
Name: 2, dtype: object

In [312]:
%timeit z = b['sandwich'].apply(lambda x: x.startswith('Q'))

10000 loops, best of 3: 91.4 s per loop

In [313]:
%timeit z = b['sandwich'].map(lambda x: x.startswith('Q'))

10000 loops, best of 3: 138 s per loop

In [314]:
b[b['rank'].isin([1,2,3])]

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
0,1,BLT,Old Oak Tap,The B is applewood smoked&mdash;nice and snapp...,$10,2109 W. Chicago Ave.,Chicago,773-772-0406,theoldoaktap.com,"2109 W. Chicago Ave., Chicago","2109 West Chicago Avenue, Chicago, IL 60622, USA",41.895734,-87.679960
1,2,Fried Bologna,Au Cheval,Thought your bologna-eating days had retired w...,$9,800 W. Randolph St.,Chicago,312-929-4580,aucheval.tumblr.com,"800 W. Randolph St., Chicago","800 West Randolph Street, Chicago, IL 60607, USA",41.884672,-87.647754
2,3,Woodland Mushroom,Xoco,Leave it to Rick Bayless and crew to come up w...,$9.50.,445 N. Clark St.,Chicago,312-334-3688,rickbayless.com,"445 N. Clark St., Chicago","445 North Clark Street, Chicago, IL 60654, USA",41.890602,-87.630925

In [331]:
a = b['website'].str.split('/', expand = True)
z = a[0].str[-3:]
set(z[z.notnull()])

{'com', 'net', 'org'}

In [316]:
c = b['price'].str[1:]
d = c.str.split('.', expand = True)
d = d.fillna(0)
x = d[0].map(lambda x: int(x)) + d[1].map(lambda x: int(x)/100.0)
b['price'] = x

In [273]:
b.head()

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
0,1,BLT,Old Oak Tap,The B is applewood smoked&mdash;nice and snapp...,10.0,2109 W. Chicago Ave.,Chicago,773-772-0406,theoldoaktap.com,"2109 W. Chicago Ave., Chicago","2109 West Chicago Avenue, Chicago, IL 60622, USA",41.895734,-87.679960
1,2,Fried Bologna,Au Cheval,Thought your bologna-eating days had retired w...,9.0,800 W. Randolph St.,Chicago,312-929-4580,aucheval.tumblr.com,"800 W. Randolph St., Chicago","800 West Randolph Street, Chicago, IL 60607, USA",41.884672,-87.647754
2,3,Woodland Mushroom,Xoco,Leave it to Rick Bayless and crew to come up w...,9.5,445 N. Clark St.,Chicago,312-334-3688,rickbayless.com,"445 N. Clark St., Chicago","445 North Clark Street, Chicago, IL 60654, USA",41.890602,-87.630925
3,4,Roast Beef,Al&rsquo;s Deli,"The Francophile brothers behind this deli, whi...",9.4,914 Noyes St.,Evanston,NaN,alsdeli.net,"914 Noyes St., Evanston","914 Noyes Street, Evanston, IL 60201, USA",42.058442,-87.684425
4,5,PB&amp;L,Publican Qualty Meats,"When this place opened in February, it quickly...",10.0,825 W. Fulton Mkt.,Chicago,312-445-8977,publicanqualitymeats.com,"825 W. Fulton Mkt., Chicago","825 West Fulton Market, Chicago, IL 60607, USA",41.886637,-87.648553

In [332]:
b[b['price'] >= 10].sort_values('price', ascending = False).head()

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
36,30,Shaved Prime Rib,Bavette&rsquo;s Bar &amp; Boeuf,Any respectable diner offers this humblest of ...,21,218 W. Kinzie St.,Chicago,312-624-8154,NaN,"218 W. Kinzie St., Chicago","218 West Kinzie Street, Chicago, IL 60654, USA",41.889402,-87.634925
9,10,Grilled Laughing Bird Shrimp and Fried Oyster ...,Nana,Grilled Laughing Bird shrimp and fried oyster ...,17,3267 S. Halsted St.,Chicago,312-929-2486,nanaorganic.com,"3267 S. Halsted St., Chicago","3267 South Halsted Street, Chicago, IL 60608, USA",41.834559,-87.646049
6,7,Lobster Roll,Acadia,In a town that recently discovered the joys of...,16,1639 S. Wabash Ave.,Chicago,312-360-9500,acadiachicago.com,"1639 S. Wabash Ave., Chicago","1639 South Wabash Avenue, Chicago, IL 60616, USA",41.858965,-87.625142
22,20,Crab Cake,Mindy&rsquo;s HotChocolate,"In these parts, crab cakes are always a gamble...",15,1747 N. Damen Ave.,Chicago,773-489-1747,hotchocolatechicago.com,"1747 N. Damen Ave., Chicago","1747 North Damen Avenue, Chicago, IL 60647, USA",41.913699,-87.677449
15,13,The Hawkeye,Frog n Snail,We didn&rsquo;t expect a <em>Man v. Food&ndash...,14,3124 N. Broadway,Chicago,773-661-9166,frognsnail.com,"3124 N. Broadway, Chicago","3124 North Broadway, Chicago, IL 60657, USA",41.938513,-87.644466

In [364]:
a = b.groupby('city', as_index = False)['price'].transform(max)
b[a['price'] == b['price']]

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
3,4,Roast Beef,Al&rsquo;s Deli,"The Francophile brothers behind this deli, whi...",9.40,914 Noyes St.,Evanston,NaN,alsdeli.net,"914 Noyes St., Evanston","914 Noyes Street, Evanston, IL 60201, USA",42.058442,-87.684425
12,12,Breaded Steak,Ricobene&rsquo;s,This is what put Ricobene&rsquo;s on the map: ...,5.49,271 N. Weber Road,Bolingbrook,(630) 378-4466,ricobenespizza.com,"271 N. Weber Road, Bolingbrook","271 Weber Road, Bolingbrook, IL 60490, USA",41.703263,-88.125653
14,12,Breaded Steak,Ricobene&rsquo;s,This is what put Ricobene&rsquo;s on the map: ...,5.49,9135 W. 159th Street,Orland Hills,(708) 460-9966,ricobenespizza.com,"9135 W. 159th Street, Orland Hills","9135 West 159th Street, Orland Hills, IL 60487...",41.601541,-87.841407
31,26,Pastrami,Max&rsquo;s Deli,Pastrami is the bacon of deli meats&mdash;a su...,11.95,191 Skokie Valley Rd.,Highland Park,NaN,maxs-deli.com,"191 Skokie Valley Rd., Highland Park","191 Skokie Valley Road, Highland Park, IL 6003...",42.155816,-87.804220
36,30,Shaved Prime Rib,Bavette&rsquo;s Bar &amp; Boeuf,Any respectable diner offers this humblest of ...,21.00,218 W. Kinzie St.,Chicago,312-624-8154,NaN,"218 W. Kinzie St., Chicago","218 West Kinzie Street, Chicago, IL 60654, USA",41.889402,-87.634925
52,42,Whitefish,Market House on the Square,Could a sandwich sound more unsexy? Hardly. Bu...,11.00,655 Forest Ave.,Lake Forest,NaN,themarkethouse.com,"655 Forest Ave., Lake Forest","655 Forest Avenue, Lake Forest, IL 60045, USA",42.251828,-87.841322
54,44,Cauliflower Melt,Marion Street Cheese Market,Who says veggie sandwiches are healthy? This b...,9.00,100 S. Marion St.,Oak Park,NaN,marionstreetcheesemarket.com,"100 S. Marion St., Oak Park","100 South Marion Street, Oak Park, IL 60302, USA",41.886737,-87.802515
58,48,Beef Curry,Zenwich,Proof positive that sandwiches have surpassed ...,7.50,416 N. York St.,Elmhurst,NaN,eatmyzenwich.com,"416 N. York St., Elmhurst","416 North York Street, Elmhurst, IL 60126, USA",41.910661,-87.939928

In [419]:
items.iloc[5:10,1:4]

  order_date        item  quantity
5 1999-07-27    Umbrella         1
6 1999-08-13    Unicycle         1
7 1999-08-14   Ski Poles         2
8 1999-08-18   Rain Coat         1
9 1999-09-01  Snow Shoes         1

In [431]:


a = [1,2,7,8]
b = [3,4,5,6]

n = len(a) + len(b)

d = []
while len(d) != n:
    if a[0] < b[0]:
        d.append(a[0])
        a.remove(a[0])
    else:
        d.append(b[0])
        b.remove(b[0])
if len(a) != 0:
    d.append(a)
    

a = [1,2,7,8]
b = [3,4,5,6]

d = []


while len(a) >= 0 & len(b) >= 0:
    
    
    if a[0] < b[0]:
        d.append(a[0])
        a.remove(a[0])
    
    else:
        d.append(b[0])
        b.remove(b[0])
    
if len(a) != 0:
    d.append(a)
elif len(b) != 0:
    d.append(b)
        
        
d = sorted array

None
2

IndexError: list index out of range